  /* Estilos para el menú de pestañas */
  .tab-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }

  .tab-menu li {
    display: inline-block;
    margin-right: 10px;
    
  }

  .tab-menu li a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    color: #0074D9;
  }

  .tab-menu li a.active {
    color: white;
    background-color: #0074D9;
    border-bottom: none;
  }

  /* Estilos para el contenido de las pestañas */
  .tab-content {
    display: none;
    padding: 20px;
  }

  .tab-content.active {
    display: block;
  }